<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.CNSCNewsAndUpdate"
        tools:targetApi="31">
        <activity
            android:name=".Announcement_data.DetailActivity"
            android:exported="false" />
        <activity
            android:name=".uploading_data.upload_breakthrough_news"
            android:exported="false" />
        <activity
            android:name=".uploading_data.Upload_announcement_news"
            android:exported="false" />
        <activity
            android:name=".Administrator.admin_NewsSection"
            android:exported="false" />
        <activity
            android:name=".users_ui.NewsSection"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".login_and_register.createaccount"
            android:exported="false" />
        <activity
            android:name=".users_ui.MainActivity"
            android:exported="false" />
        <activity
            android:name=".login_and_register.loginregister"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>